volumes:
  pg_data:
  redis_data:
  bundle:

services:

  yaffle:
    build: .
    volumes:
      - .:/usr/src/app
      - bundle:/usr/local/bundle
    env_file:
      - .env
    environment:
      - HISTFILE=/usr/src/app/log/.bash_history 
    working_dir:
      /usr/src/app/


  dummy:
    build: .
    volumes:
      - .:/usr/src/app
      - bundle:/usr/local/bundle
    env_file:
      - .env
    environment:
      - HISTFILE=/usr/src/app/log/.bash_history
    working_dir:
      /usr/src/app/test/dummy
        
        

